ud4/p2/02.dtd

<!ELEMENT biblio (libro)+>
<!ELEMENT libro (titulo,autores,anyo)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autores (autor+)>
<!ELEMENT autor (nombre, apellido, nacionalidad)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT nacionalidad (#PCDATA)>
<!ELEMENT anyo (#PCDATA)>
<!ATTLIST libro idlibro ID #REQUIRED>
<!ATTLIST libro genero CDATA #IMPLIED>
<!ATTLIST libro formato (impreso|digital)>
<!ATTLIST libro ref IDREFS #IMPLIED>
